$primary-color: #369;
$margin: 5px;
$padding: $margin * 1.5;
$font-size: 0.3em;

body {
	background: $primary-color;
	font-family: Futura, "Trebuchet MS", sans-serif;
	> h1 {
		font-size: $font-size * 10;
		color: #eee;
		margin: $margin 0 0 $margin;
	}
}

.entry {
	background: white;
	margin: $margin;
	padding: $padding;
	h1 {
		font-size: $font-size * 4;
		margin: $margin - $margin;
	}
	.date {
		font-size: $font-size;
		color: $primary-color;
	}
	a {
		color: $primary-color;
	}
}